.header_top{
     border-radius: 10px;
     width: 40%;
     margin:10px auto; 
     font-size: 16px;
     font-weight: bold;
}

.header_top h2{
	float: left;
	padding:10px;
	/*background: #eaeaea;*/
	color: pink;
}
.header_top a{
	color:#000;
}
.header_top a:hover{
	text-decoration: none;
	color:#000;
	font-size: 16px;
}
.header_top span{
	float: right;
}
.header_top ul{
	display: flex;
	Justify-content:space-between;
	height: 40px;
	line-height: 40px;
	background: #fff;
	color: #000;
	margin-left: -50px;
}
.header_top ul li{
	width:120px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	padding:0 10px;
	margin:0;
	background-image: url(../img/picture4.png);
	background-repeat:no-repeat;
}
.add{
	width:600px;
	height:600px;
	display: none;
	z-index: 1;
	border-radius: 10px;
	position: fixed;
	background-color: #ccc;
	/*margin-left: 100px;*/
	left:300px;
	top:60px;
}

.modal-body{
	position: relative;
	height: 500px;
	padding: 20px;
	overflow: scroll;
}
.modal-footer{
	position: relative;
	height: 30px;
	background-color: #ccc;
	margin-bottom: 0px;
}

.modal-footer button{
	margin-top: 20px;
	position: relative;
	float: left;
	left: 300px;
}

.cover{
	height: 130px;
}

.table {
	width: 100%;
	position: absolute;
	left: 0px;
}
.table thead tr th{
	height:40px;
}

.table  tr .small_1{
	width: 4%;
	vertical-align:middle;
	font-size: 14px;
	font-weight: bold;
}
.table  tr .small{
	width: 7%;
	vertical-align:middle;
	font-size: 14px;
	font-weight: bold;
}

.table  tr .big{
	width: 13%;
	vertical-align:middle;
	font-size: 14px;
	font-weight: bold;
}


.table tbody tr .span_1,
.table tbody tr .span_2,
.table tbody tr .span_3{
	position: relative;
	height: 150px;
	overflow: hidden;
	margin-top: 10px;
}

.table tbody tr .span_1:hover,
.table tbody tr .span_2:hover,
.table tbody tr .span_3:hover{
	overflow: scroll;
}

.btn{
	margin-left: 50px;
	margin-top: 30px;
	margin-bottom: 10px;
}

::-webkit-scrollbar{width:4px;}
/*::-webkit-scrollbar-track{background-color:#ccc;}*/
::-webkit-scrollbar-thumb{background-color:#ccc;}
::-webkit-scrollbar-thumb:hover {background-color:#ccc}
::-webkit-scrollbar-thumb:active {background-color:#ccc}
.err{
	font-size: 16px;
	color:red;
	position: absolute;
	margin-top: -20px;
	margin-left: 80px;
}
.addmovie{
	margin-top: -30px;
}

