@charset "utf-8";
@import url("reset.css");

/* -------------------------------------------------
 * common
 * -------------------------------------------------
*/
html, body{
    height: 100%;
}
.page {
    text-align: left;
   
}

.wrap_top_nav {
    background-color: #333;
    height: 50px;
    position: relative;
}

#top_nav {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
#top_nav ul{
    position: absolute;
    margin-left: 710px;
}
#top_nav a {
    font-size: 16px;
    line-height: 50px;
    float: left;
    margin-right: 20px;
    text-decoration: none;
}

#top_nav a:hover {
    color: #fff;
}


#read {
    position: absolute;
    right: 0;
    top: 0;
    font-family: '����';
}

#header {
    text-align: center;
}

#header .white {
    color: #fff;
}

#header .blank {
    color: #444;
}

#header h1 {
    font-size: 24px;
}

#header h2 {
    font-weight: normal;
}

#ad_w3cplus {
    width: 750px;
    margin: 100px auto;
    text-align: center;
}

#ad_w3cplus .grid-ad {
    float: left;
}

#njblogbg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 1;
}
#bg{
     width: 100%; height: 100%; margin-left: 0px;visibility: visible; opacity: 1;
}
.prv-fullscreen, .nxt-fullscreen {
    position: absolute;
     margin-top: -100px;
    color: red;
    float: left;
    font: 300 28px/34px 'Denk One', sans-serif;
    color: #414848;
    text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
    display: block;
    z-index: 10;;

}
.nxt-fullscreen {float: right;right: 0}

.movie-content{
    width: 1000px;
    min-height:433px;
    overflow: hidden;
    margin:30px auto 100px auto;
    font-size: 16px;
    /*margin-bottom: -50px;*/
}
.table thead th{
    line-height: 26px;
    background: #eee;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #0088cc;

}

.table tbody tr td{
    line-height: 35px;
    text-align: center;
}

.table tbody tr:hover{
    color: blue;
    cursor: pointer;
}
.foot{
    position:relative;
    width:100%;
    background-color: #333;
    color:#eee;
    text-align: center;
    font-size: 16px;
    height: 50px; 
}

.foot span{
    line-height: 50px;
}