.left{
	width:500px;
	height:300px;
	float:left;
	margin-left: 100px;
	overflow: hidden;
}
.left img{
	width:100%;
	height:300px;
	border-radius: 10px;
}
.login-right{
	width:280px;
	height:260px;
	margin-left: 800px;
	margin-top: 80px;
	top:100px;
	padding:20px;
	border:1px solid #eee;
	border-radius: 10px;
	background-color: rgba(237,237,237,0.8);
}
.singup-right{
	width:280px;
	height:280px;
	margin-left: 800px;
	margin-top: 80px;
	top:100px;
	padding:20px;
	border:1px solid #eee;
	border-radius: 10px;
	background-color: rgba(237,237,237,0.8);
}
.m15{ 
	margin: 15px;
}
.tc{ 
	font-size: 18px;
	font-weight: 600;
	text-align: center
}
.bnt{
	background-color: #0065cc;
	width:220px;
	height:30px;
	border:none;
	border-radius: 4px;
	color:#fff;
	margin:10px 20px;
}
.control{
	width:220px;
	height:30px;
	border:1px solid #333;
}
.form-control{
	margin:0 0 0 10px;
}
.err{
	margin-left: 20px;
	color:red;
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
}
#form-radio{
	width:16px;
	height:16px;
}
#form-radio1{
	width:16px;
	height:16px;
}
label{
	display:inline-block;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 0;
	height:20px;
	line-height: 20px;
}