<link rel="stylesheet" type="text/css" href="css/movie.css">
<div class="movie-content">
		<div class="movie" ng-repeat="m in movie">
			<div class="movie-img">
				<img ng-src="img/{{m.url}}" class="cover" />
			</div>
			<span class="movie-name">{{m.name}}</span>
			<div class="movie-jieshao">
			<p><b>片长：</b>{{m.times}}分钟</p>
			<p><b>上映日期：</b>{{m.date}}</p>
			<p><b>影片简介：</b>{{m.direction}}</p>
			</div>
			<button type="button" class="btn btn-danger btn-xs" style="margin-left:600px;margin-top:-100px" ng-click="">立即购票</button>
		</div>
</div>
